# 1~9 팬디지털 곱셈식을 만들 수 있는 모든 수의 합

1부터 n까지의 각 숫자를 한 번씩만 써서 만들 수 있는 수를 팬디지털(pandigital)이라고 합니다.
예를 들면 15234는 1부터 5의 숫자가 한 번씩만 쓰였으므로 1 ~ 5 팬디지털입니다.

7254라는 수는 그런 면에서 특이한데, 39 × 186 = 7254 라는 곱셈식을 만들 때 이것이 1 ~ 9 팬디지털이 되기 때문입니다.

이런 식으로 a × b = c 가 1 ~ 9 팬디지털이 되는 모든 c의 합은 얼마입니까?

(참고: 어떤 c는 두 개 이상의 (a, b)쌍에 대응될 수도 있는데, 이런 경우는 하나로 칩니다)

### 두자리수 X 세자리수 = 네자리수 인 경우만 가능한거 같다

-> 1 x 4 = 4 도 되는듯;;

In [1]:
numbers = set(range(1,10))
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
a_nums = list(range(1,99+1))
b_nums= list(range(100,9999+1))

In [40]:
filterd_a = list()
for a in a_nums:
    check = set()
    if '0' in str(a):
        continue
    for d in str(a):
        if d in check:
            break
        check.add(d)
    else:
        filterd_a.append(a)

In [41]:
len(filterd_a)

81

In [42]:
filterd_b = list()
for b in b_nums:
    check = set()
    if '0' in str(b):
        continue
    for d in str(b):
        if d in check:
            break
        check.add(d)
    else:
        filterd_b.append(b)

In [43]:
len(filterd_b)

3528

In [44]:
cnt =0 
c_values = set()
for a in filterd_a:
    for b in filterd_b:
        check = True
        for d in str(a):
            if d in set(str(b)):
                check = False
                break
        if check:
            c = a*b
            if c >10000 or c <1000:
                continue
            if '0' in str(c):
                continue
            if len(set(str(a)).union(set(str(b)),set(str(c)))) == 9:
                cnt +=1
                c_values.add(c)
                print(a,b,c)

4 1738 6952
4 1963 7852
12 483 5796
18 297 5346
27 198 5346
28 157 4396
39 186 7254
42 138 5796
48 159 7632

In [45]:
print(cnt)
print(len(c_values))

9
7

In [46]:
sum(c_values)

45228